.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: red;
  height: 40px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 2rem;
}

.App-intro {
  font-size: 2rem;
  position: relative;
  text-align: center;
  padding-left: auto;
  margin-right: auto;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body {
  background-image: url("./gif/blood.jpg");
  background-size: cover;
}

.giphy {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
